<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<p id="notice"><%= notice %></p>

<div class="profile-block">
  <div class="panel text-center">
    <div class="user-heading"> <a href="#"><img src="https://image.freepik.com/vector-gratis/mujer-avatar_23-2147501833.jpg" alt="" title=""></a>
      <h1><%= @profile.name %> <%= @profile.lastname %> </h1>
      <p> <%= @profile.email %></p>
      <p><%= @profile.phone %></p>
    </div>
    <ul class="nav nav-pills nav-stacked">
      <li> <%= link_to 'Edit Profile', edit_profile_path(@profile) %></li>
      <li><a href="#">My lessons</a></li>
      <li><a href="#">My orders</a></li>
    </ul>
  </div>
</div>

<%if user_signed_in?%>
   <%if current_user.admin==true%>
<%= link_to 'Back', profiles_path %>
<% end %>
<%end %>