<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; <a href="https://www.udemy.com">Aztetca restaurant</a>
            by <a href="http://www.jessicavaleriah.com/">Jessica Hernandez</a>
        </small>
        <nav>
            <ul>
                <li><%= link_to "Home", home_path %></li>
                <li><%= link_to "Menu", menus_path %></li>
                <li><%= link_to "Mission", mission_path %></li>
                <li><%= link_to "Contact", contact_path %></li>
                <li><%= link_to "Lessons", lessons_path %></li>
            </ul>
        </nav>
    </footer>
</div>